{% load my_filters %}

<table class="table table-success table-striped-co∫lumns">
  <thead>
    <tr>
      {% for header in headers %}
      <th>{{ header }}</th>
      {% endfor %}
      
      {% if actions %}
      <th class="text-center">Acciones</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for row in data %}
    <tr>
      {% for key in keys %}
        {% if row.get_type_value == 'Urgente' and key == 'status' %}
        <td class="text-danger">{{ row|get_item:key }}</td>
        {% else %}
        <td>{{ row|get_item:key }}</td>
        {% endif %}
      {% endfor %}
      
      {% if actions %}
      <td>
        <div class="d-flex justify-content-center gap-2">
          {% for action in actions %}
          <a title="{{ action.title }}" href="{% url action.url_name row.id %}" class="{{ action.class|default:'btn btn-light' }}">
            <i class="{{ action.icon_class }}"></i>
          </a>
          {% endfor %}
        </div>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% if data|length == 0 %}
<div class="alert alert-info text-center" role="alert">
  No hay datos disponibles.
</div>
{% endif %}
