<div class="sidebar d-flex flex-column p-3">
  <div class="d-flex align-items-center mb-4">
    {% if user.image_perfil.url %}
    <img src="{{ user.image_perfil.url }}" class="rounded-circle me-3 w-50 h-50" alt="{{user.username}}">
    {% endif %}
    <div>
      <h6 class="mb-0">{{user.apodo}}</h6>
      <small class="text-muted">{{user.id_cargo}}</small>
      <a class="nav-link" title="Editar Información Usuario" href="{% url 'Profile Page' user.id %}">
        <i class="ti ti-edit"></i>
      </a>
    </div>
  </div>
  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a href="{% url 'Home Page' %}" class="nav-link text-dark">
        Inicio
        <span class="badge bg-success rounded-pill float-end"><i class="ti ti-home"></i></i></span>
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'Dashboard Page' %}" class="nav-link active" aria-current="page">
        Dashboard
        <span class="badge bg-secondary rounded-pill float-end">5</span>
      </a>
    </li>
  
    <li>
      <a href="{% url 'Crear Tarea Page' %}" class="nav-link text-dark">
        Crear Ticket
        <span class="badge bg-secondary rounded-pill float-end">50</span>
      </a>
    </li>
    <li>
      <a href="{% url 'Tareas Page' %}" class="nav-link text-dark">
        Mis Tickets
        <span class="badge bg-secondary rounded-pill float-end">6</span>
      </a>
    </li>
    {% if user.es_supervisor %}
    <li class="nav-item">
      <a href="{% url 'Asignaciones Page' %}" class="nav-link text-dark">
        Asignaciones
        <span class="badge bg-danger rounded-pill float-end">3</span>
      </a>
    </li>
    {% endif%}
    {% if user.is_authenticated  and user.is_administrador %}
     <li>
      <a href="{% url 'Usuarios Page' %}" class="nav-link text-dark">
        Usuarios
        <span class="badge bg-primary rounded-pill float-end"><i class="ti ti-users"></i></span>
      </a>
    </li>
    <li>
      <a href="{% url 'Logout Page' %}" class="nav-link text-dark">
        Configuración
        <span class="badge bg-success rounded-pill float-end"><i class="ti ti-settings-check"></i></span>
      </a>
    </li>
    {% endif%}
    {% if user.is_authenticated %}
    <li>
      <a href="{% url 'Logout Page' %}" class="nav-link text-dark">
        Cerrar Sesión
        <span class="badge bg-danger rounded-pill float-end"><i class="ti ti-logout"></i></span>
        
      </a>
    </li>
    {% endif%}
  </ul>
  <div class="mt-auto">
    <p class="text-primary text-center">Mesa de Ayuda</p>
    <p class="text-primary text-center text-dark">{{year}}</p>
  </div>
</div>