{% extends "base_auth.html" %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
    {% if error %}
    {% include "componentes/error.html" with error=error clase="badge text-bg-danger" %}
    {% endif %}
    {% include "componentes/titulo.html" with titulo=titulo clase="text-primary" %}
    {% include "componentes/subtitulo.html" with message=message clase="text-primary" %}
        
    <form method="post" action="{% url 'Login Page' %}">
        {% csrf_token %}
       {{ form.as_p }}
       {% include "componentes/boton.html" with texto='Ingresar' clase="btn-primary text-white w-100" %}
    </form>
    <div class="text-center mt-3">
        <a href="{% url 'Registro Page' %}">¿No tienes cuenta? Regístrate</a>
    </div>
{% endblock %}