{% extends 'base.html' %}
{% block content %}
<main class="conteiner mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form action="/usuario/registro/" method="post" class="card card-body">
                {% csrf_token %}
                {% include "componentes/titulo.html" with titulo=titulo clase="text-primary" %}
                {% include "componentes/subtitulo.html" with message=message clase="text-primary" %}
                {% include "componentes/error.html" with error=error clase="badge text-bg-danger" %}
                {{ form.username }}
                {{ form.email.label_tag }}
                {{ form.email }}
                {{ form.password1.label_tag }}
                {{ form.password1 }}
                {{ form.password2.label_tag }}
                {{ form.password2 }}
                {% include "componentes/boton.html" with texto="Registrarse" clase="btn btn-primary" %}
            </form>
            <div class="text-center">
                <a href="{% url 'Login Page' %}" class="text-bg-primary">
                    ¿Tienes Credenciales? Accede acá
                </a>
            </div>
        </div>
    </div>

</main>
{% endblock %}