{% extends 'base.html' %}
{% block content %}
<main class="container mt-3">
    <div class="row">
        <div class="col-md-12 offset-md-8 mt-3">
              {% if error %}
                {% include "componentes/error.html" with error=error clase="badge text-bg-danger" %}
              {% endif %}
              {% include "componentes/titulo.html" with titulo=titulo clase="text-primary" %}
              {% include "componentes/subtitulo.html" with message=message clase="text-primary" %}
              {% include 'componentes/_tabla.html' with headers=headers data=data %}
        </div>
    </div>
</main>
{% endblock %}