{% extends 'base.html' %}
{% block content %}
<main class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-4 mt-3">
            <form action="" method="POST" class="card card-body">
                {% csrf_token %}
                {% if error %}
                {% include "componentes/error.html" with error=error clase="badge text-bg-danger" %}
                {% endif %}
                {% include "componentes/titulo.html" with titulo=titulo clase="text-primary" %}
                {% include "componentes/subtitulo.html" with message=message clase="text-primary" %}
               
                {{ form.as_p }}
                <div class="d-flex justify-content-between">
                    {% include "componentes/boton.html" with texto="Asignar Tarea" clase="btn-primary m-auto" %}
                    <button type="reset" class="btn btn-secondary m-auto">Limpiar</button>
                </div>
                
            </form>
            <a class="text-center text-secondary mt-3" href="{% url 'Tareas Page' %}">Volver a Tareas</a>
        </div>
    </div>
</main>
{% endblock %}
